<mat-card>
    <h1 class="display-flex">Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input formControlName="title" autofocus matInput placeholder="Enter here">
                            <mat-error *ngIf="form.controls.title.touched && form.controls.title.errors?.['required']">Title is required</mat-error>
                            <mat-error *ngIf="form.controls.title.touched && form.controls.title.errors?.['maxlength']">Max 100 characters</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="description" matInput placeholder="Enter description ..." rows="3"></textarea>
                            <mat-error *ngIf="form.controls.description.touched && form.controls.description.errors?.['maxlength']">Max 500 characters</mat-error>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button type="submit" mat-raised-button color="primary" [disabled]="submitting">
                                {{ submitting ? 'Adding...' : 'Add' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
