<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-content>
                        <div class="container text-center">
                            <img src="../../../assets/register.png" alt="register" style="width: 100px; height: 100px;">
                        </div>
                        <h1 class="text-center">Login Here !!</h1>
                        <form>
                            <!-- Username field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input required name="username"
                                matInput placeholder="Username">
                            </mat-form-field>
                            <!-- Password field -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input required name="password"
                                type="password" matInput placeholder="Password">
                            </mat-form-field>
                            <!-- Register and Clear Button -->
                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Login</button>
                                <button class="ml20" mat-raised-button color="accent">Clear</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>    
    </div>
</div>
