<div class="bootstrap-wrapper" *ngIf="!isSubmitted">
  <div class="container-fluid" style="background-color: #d3d3d3">
    <div class="row">
      <div class="col-md-2">
        <!-- instructions -->
        <mat-card style="margin-top: 68px; padding: 10px;">
        <mat-card-title>Instructions</mat-card-title>
        <ul>
          <li>Do not refresh the page otherwaise new quiz will be start.</li>
          <li>Do not switch the tabs.</li>
          <li>Do not minimize the window.</li>
        </ul>
      </mat-card>
      </div>
      <div class="col-md-8">
        <!-- questions -->
        <ng-container *ngIf="questions">
          <h1 class="mt20">{{ questions[0].quiz.title }}</h1>
          <mat-card *ngFor="let q of questions; let i = index" class="mt10">
            <mat-card-content>
              <h3>
                <b>Q{{ i + 1 }}.</b> {{ q.content }}
              </h3>
              <mat-radio-group [(ngModel)]="q.chosenAnswer">
                <div class="row mt10">
                  <div class="col-md-6">
                    <mat-radio-button [value]="q.option1" [name]="q.option1">
                      {{ q.option1 }}
                    </mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button [value]="q.option2" [name]="q.option2">
                      {{ q.option2 }}
                    </mat-radio-button>
                  </div>
                </div>
                <div class="row mt10">
                  <div class="col-md-6">
                    <mat-radio-button [value]="q.option3" [name]="q.option3">
                      {{ q.option3 }}
                    </mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button [value]="q.option4" [name]="q.option4">
                      {{ q.option4 }}
                    </mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </mat-card-content>
          </mat-card>
          <div class="container text-center mt20 mb20">
            <button mat-raised-button color="primary" (click)="submitQuiz()">
              Submit Quiz
            </button>
          </div>
        </ng-container>
      </div>
      <div class="col-md-2">
        <!-- progress -->
        <mat-card style="margin-top: 68px">
          <mat-card-header>
            <mat-card-title>Progress</mat-card-title>
            <mat-card-subtitle
              >Quiz will be automatically submitted after : <br />
              <b>{{ getFormattedTime() }}</b></mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content class="mt20">
            <mat-spinner
              mode="determinate"
              style="margin: auto"
              [value]="(timer / (totalQuestions * 60)) * 100"
            ></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmitted">
  <div class="container-fluid">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Quiz Result</mat-card-title>
          </mat-card-header>
          <mat-card-content class="mt20">
            <h3>Marks Got : {{ marksGot }}</h3>
            <h3>Correct Answers : {{ correctAnswers }}</h3>
            <h3>Questions Attempted : {{ attempted }}</h3>
          </mat-card-content>
          <div class="container text-center mt20 mb20">
            <button
              mat-raised-button
              color="primary"
              routerLink="/user-dashboard"
            >
              Dashboard
            </button>
            <button mat-raised-button color="accent" class="ml20" (click)="printPage()">Print</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
