<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header><h2>Quiz Instructions</h2></mat-card-header>
          <mat-card-subtitle class="ml20">
            <h2>{{quiz.title}}</h2>
            <p>{{quiz.description}}</p>
          </mat-card-subtitle>
          <mat-card-content class="mt20">
            <h3>
              Welcome to the quiz! Please read the following instructions before
              you start:
            </h3>
            <ul>
              <li>Answer all the questions.</li>
              <li>Each question has only one correct answer.</li>
              <li>Scroll down to move to the next question.</li>
              <li>You have to submit the quiz with in <b>{{quiz.numberOfQuestions * 2}} minutes.</b></li>
              <li>You can attempt the quiz any number of time.</li>
              <li>There are <b>{{quiz.numberOfQuestions}} questions</b> in this quiz.</li>
              <li>Each question carries <b>{{quiz.maxMarks/quiz.numberOfQuestions}} marks</b>. No negative marking for the wrong answers.</li>
              <li>Click <b>Start Quiz</b> button to start the quiz.</li>
              <li>
                Once you've answered all the questions, click <b>'Submit'</b> to see
                your score.
              </li>
            </ul>
          </mat-card-content>
          <mat-card-actions class="startButton mt20">
            <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
