.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-button {
    cursor: pointer; 
    border: none;
    background-color: transparent;
    color: #ff7800;
}