.profile-image {
    max-width: 100px;
    max-height: 100px;
}

.table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
}

.table tr td {
    padding: 15px 30px;
    border: 0.5px solid #e2e2e2;
}

.display-flex {
    display: flex;
    padding: 16px;
}