<mat-card>
  <h1>{{pageTexts.title}}</h1>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input
                required
                autofocus
                type="text"
                name="title"
                matInput
                placeholder="Enter here"
                [(ngModel)]="quiz.title"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                type="text"
                name="description"
                matInput
                placeholder="Enter description ..."
                rows="3"
                [(ngModel)]="quiz.description"
              >
              </textarea>
            </mat-form-field>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Maximum Marks</mat-label>
                  <input
                    required
                    autofocus
                    type="text"
                    name="maxMarks"
                    matInput
                    placeholder="Enter here"
                    [(ngModel)]="quiz.maxMarks"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Number of Questions</mat-label>
                  <input
                    required
                    autofocus
                    type="text"
                    name="numberOfQuestions"
                    matInput
                    placeholder="Enter here"
                    [(ngModel)]="quiz.numberOfQuestions"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-slide-toggle
                  class="mt10"
                  color="primary"
                  name="active"
                  [(ngModel)]="quiz.active"
                >
                  Publish Status
                </mat-slide-toggle>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Category</mat-label>
                  <mat-select [(ngModel)]="quiz.category" name="category">
                    <mat-option *ngFor="let c of categories" [value]="c">
                      {{ c.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">{{pageTexts.buttonText}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


