<mat-toolbar color="primary">
    <a routerLink="/" mat-button style="font-size:large;">
        <mat-icon>quiz</mat-icon>
        Quiz Adda
    </a>
    <span class="example-spacer"></span>
    <a *ngIf="!isActive"
     routerLink="/login" mat-button>
        <mat-icon>login</mat-icon>
        Login
    </a>
    
    <a *ngIf="!isActive"
     routerLink="/signup" class="ml20" mat-button>
        <mat-icon>account_box</mat-icon>
        Register
    </a>

    <button *ngIf="isActive && user"
        mat-button>
        <mat-icon>account_circle</mat-icon>
        {{ user.username }}
    </button>

    <button *ngIf="isActive" (click)="logout()"
        class="ml20" mat-button>
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-toolbar>