<div class="display-flex">
    <h1 class="mt20">Questions of {{quizTitle}}</h1>
    <button routerLink="/admin/quiz/add-question/{{quizId}}/{{quizTitle}}" mat-raised-button color="primary">Add Question</button>
</div>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                <mat-card-content>
                    <div class="display-flex">
                        <p>Q{{i+1}}. <span>{{q.content}}</span> </p>
                        <button class="icon-button" (click)="deleteQuestion(q.quesId)"><mat-icon fontIcon="delete"></mat-icon></button>
                    </div>
                    

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>A. {{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>B. {{q.option2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>C. {{q.option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>D. {{q.option4}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p>Correct Answer: {{q.answer}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>