.example-header-image {
  background-image: url('../../../../assets/quiz.png');
  background-size: cover;
}

.card {
  margin : 10px;
  background-color: #E5E4E2;
}

.ml20 {
  margin-left: 20px;
}

.display-flex {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.mb {
  margin-bottom: 20px;
}