<mat-card>
    <mat-action-list>
        <div mat-subheader>Categories</div>
        <mat-list-item routerLink="/user-dashboard">
            <mat-icon matListItemIcon>ballot</mat-icon>
            <div matListItemTitle>All Quizzes</div>
        </mat-list-item>
        <mat-list-item routerLink="/user-dashboard/{{c.catId}}" *ngFor="let c of categories">
            <mat-icon matListItemIcon>category</mat-icon>
            <div matListItemTitle>{{c.title}}</div> 
        </mat-list-item>
    </mat-action-list>
</mat-card>